#sos
{
    text-align: center;
    color: red;
}
body
{
text-align: center;
background: linear-gradient(120deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 76%);

}
button
{
    background-color: orangered;
    border-radius: 20px;
    color: white;
    height: 30px;
    width: 150px;
}
#name
{
    height: 40px;
    width: 300px;
    border-radius: 50px;
}
#phone
{
    height: 40px;
    width: 300px;
    border-radius: 50px;
}
#sol
{
    width: 150px;
    border-radius: 30px;
    height: 20px;
}
#username
{
  height: 40px;
  width: 300px;
  border-radius: 50px;
}
#password
{
  height: 40px;
  width: 300px;
  border-radius: 50px;

}
#username
{
   height: 40px;
   width: 300px;
   border-radius: 50px;
}
#email
{
    
   height: 40px;
   width: 300px;
   border-radius: 50px;
}
#confirmpassword
{
   height: 40px;
   width: 300px;
   border-radius: 50px;
}